.SuccessNotify{
    font-family: Arial;
    position: fixed;
    padding:3px;
    color: white;
    font-size: large;
    border-radius: 8px;
    border: 1px solid rgb(240, 223, 223);
    box-shadow: 0px 3px 3px gray;
    width:200px;
    height:30px;
    z-index: 99;
    right:50%;
    transform: translateX(50%);
    
    animation-name:moveDown ;
    animation-duration: 3s;
    animation-timing-function:ease ;
    animation-direction: alternate; 
    animation-fill-mode:forwards ; 
    visibility: hidden;

}

.green{  background-color: rgb(43, 194, 43);}
.red{background-color: rgb(253, 47, 92);}

@keyframes moveDown{
    0%{top:0 ;  visibility: visible;}
    30%{top: 70px;  }
    70%{top: 70px; }
    80%{top: 80px; }
    95%{top:0 ; visibility:hidden}



}